body{
    background: url(Imagenes/Imagenfondo.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.c1{
    color: white;
}

header{
    display: flex;
    height: 70px;
    background-color:darkmagenta;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 70px;
    align-items: center;
}

.info{
    display: flex;
    color:white;
}

.info a{
    font-weight: 600;
    padding-right: 10px;
    margin: 0px 10px;
}

.info a:hover{
    color:black;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;

}